entorno_lab/
# 1. Archivos generados de Python
__pycache__/
*.pyc
*.pyd
*.pyo

# 2. Archivos de documentos binarios
*.pdf
*.PDF
*.xls
*.xlsx
*.XLS
*.XLSX

# 3. Bases de datos SQLite
*.sqlite
*.sqlite3
*.db
*.DB
*.db3
*.DB3