entorno_lab/
# Archivos generados de Python
__pycache__/
*.pyc
*.pyd
*.pyo

# Archivos de documentos binarios
*.pdf
*.PDF
*.xls
*.xlsx
*.XLS
*.XLSX

# Bases de datos SQLite
*.sqlite
*.sqlite3
*.db
*.DB
*.db3
*.DB3